@model MinskNews.Models.News

@{
    ViewBag.Title = "Добавить новость";
}

<h2 class="text-center title">Добавление новости</h2>

<div class="panel panel-default my-news">
    <div class="inside-panel">
        <div>
            @Html.ActionLink("К списку новостей", "Index", null, htmlAttributes: new { @class = "btn but-add", @type = "button" })
        </div>
        @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label table-title" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control title-form " } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label table-title" })
                        <div>
                            @Html.TextAreaFor(model => model.ShortDescription,  htmlAttributes: new { @class = "my-area-short form-control  title-form" } )
                            @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FullText, htmlAttributes: new { @class = "control-label table-title" })
                        <div>
                            @Html.TextAreaFor(model => model.FullText, htmlAttributes: new { @class = "my-area-full form-control title-form" } )
                            @Html.ValidationMessageFor(model => model.FullText, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AddDate, htmlAttributes: new { @class = "control-label table-title" })
                        <div class="calendaric">
                            @Html.EditorFor(model => model.AddDate, new { htmlAttributes = new { @class = "text-editor-calendar", @placeholder = "дд.мм.гггг" } })
                            @Html.ValidationMessageFor(model => model.AddDate, "", new { @class = "text-danger" })
                        </div>
                       
                    </div>

                    <div class="form-group">
                        @Html.Label("Выберите файл", htmlAttributes: new { @class = "control-label table-title" })
                        <div>
                            <input type="file" name="imageUpload" class="none-border" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" value="Добавить" class="btn but-add del-marg" />
                        </div>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("К списку новостей", "Index", null, htmlAttributes: new { @class = "btn but-add", @type = "button" })
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
