
@model MinskNews.Models.News
@{ 
    DateTime date = Model.AddDate;
}

<div class="col-md-12 general-top">
    <div class="panel panel-default general">
        <div>
            @Html.Label(date.ToString("dd MM yyyy"), htmlAttributes: new { @class = "table-content" })
        </div>
        <div class="general-link">
            @Html.ActionLink(@Html.DisplayFor(modelItem => modelItem.Title).ToString(), "Index", "News", new { newsId = Model.Id}, htmlAttributes: new { @class = "title-link"})
        </div>

        @if (Model.Image != null)
        {

            <img width="150" src="@Url.Action("GetImage", "News", new { newsId = Model.Id})" class="img-thumbnail general-image" />
        }
        <div class="table-content general-content">
            @Model.ShortDescription
        </div>

    </div>
</div>