<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Neucha&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet"> 
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-top navbar-fixed-top">
        <div class="container">
            <div class="logo">
                <ul class="nav navbar-nav">
                    <li><img src="~/Content/Images/logo-women-left.jpg" alt="picter" /></li>
                    <li>@Html.ActionLink("Вечерний минск", "Index", "Home", null, htmlAttributes: new { @class = "logo-a" })</li>
                </ul>
                <div class="navbar-right">
                    <ul class="nav navbar-nav nav-link">
                        <li>@Html.ActionLink("Главная ", "Index", "Home")</li>
                        <li>@Html.ActionLink("Администрирование", "Index", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/myscripts")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
